# Ignore VSCode workspace config files
.vscode
.history

# Never commit the ENV file
.env

# MacOS temp files
.DS_Store

# build/ folder should be present, but the contents not, just .keep this one
build/*
!build/.keep